// 自分の開発のために決めておきたいこと
// ①先ず、要素を表示するの？しないの？（display）
// ②要素を何処に配置するの？（position, float）
// ③要素のボックスモデルはどうゆうものになるの？（border, margin, padding, width, height）
// ④背景はどうなるの？（background）
// ⑤テキストなど前景ににあるのもはどうなるの？（color, font-size, font-weight, text-align, vertical-align）
//
// --------
// display
// list-style
// position
// float
// clear
// width
// height
// margin
// padding
// border
// background
// color
// font
// text-decoration
// text-align
// vertical-align
// white-space
// other text
// content
// --------

// インポート系
@import "reset";
@import "variable";
@import "mixin";

// Mobile first(全環境に共通のデザイン)
html {
  background: #edfffe none repeat scroll 0 0;
  color: #333;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  font-size: 100%;
  line-height: 1.6;
}
main {
  background:  #ff0000 none repeat scroll 0 0;
}
footer {
  width: 100%;
  text-align: center;
}







// Tablet用として付け足すデザイン
/* 画面サイズがtb(768px)以上の場合はここを読み込む */
@include tb {
  main {
    background:  #fff000 none repeat scroll 0 0;
  }
}


// PC用として付け足すデザイン
/* 画面サイズがpc(1024px)以上の場合はここを読み込む */
@include pc {
  header {
    padding: 24px;
    h1 {
      color: #08cee0;
      font-family: 'Avenir Next', 'Century Gothic';
      img {
        width: 380px;
      }
    }
    p {
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
  main {
    background:  #fff none repeat scroll 0 0;
  }
  footer {
    color: #bbb;
    font-size: 12px;
  }
}
